<div class="app">
    <navbar></navbar>
    <div class="mottopos">
        <a href="/pdf" class="motto pdf">Résumé (PDF)</a>
    </div>
    <div class="projectpos">
        <div class="projecttitle">
            <a href="http://www.borderlandoftherockies.com/"><img class="projectimg" src="images/borderlandoftherockies.png"/></a>
            <a href="http://www.borderlandoftherockies.com/">
                <p class="ptitle">Border Land of the Rockies</p>
            </a>
        </div>
        <div class="projecttitle">
            <a href="http://www.ebfairweather.com"><img class="projectimg" src="images/ebfairweather-1.png"/></a>
            <a href="http://www.ebfairweather.com">
                <p class="ptitle">First Professional Website</p>
            </a>
        </div>
    </div>
    <div class="projectpos">
        <div class="projecttitle">
            <a><img class="projectimg" src="images/Screen Shot 2016-01-14 at 12.15.35 PM.png"/></a>
            <a>
                <p class="ptitle">Triple Care</p>
            </a>
        </div>
        <div class="projecttitle">
            <a href="http://incwealth.com/"><img class="projectimg" src="images/incwealth.png"/></a>
            <a href="http://incwealth.com/">
                <p class="ptitle">Inc Financial</p>
            </a>
        </div>
    </div>
    <!--<div class="mottopos">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KFDg1QE6DUQ" allowfullscreen></iframe>
        </div>
    </div>-->
    <div class="projectpos">
        <div class="projecttitle">
            <a><img class="projectmore" src="images/mywebsitelogo.png"/></a>
            <a>
                <p class="ptitle">More to come...</p>
            </a>
        </div>
    </div>
</div>