<div class="app">
    <navbar></navbar>
    <div>
        <form ng-submit="register()" name="registration" novalidate="novalidate">
            <div class="form-group" ng-class="{ 'has-error': registeration.username.$dirty &amp;&amp; registration.username.$invalid }">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" ng-model="user.username" required="required" unique-username="unique-username"/>
                <p ng-show="registration.username.$error.uniqueUsername">Username must be unique.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registeration.firstName.$dirty &amp;&amp; registration.firstName.$invalid }">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" ng-model="user.firstName" required="required" unique-username="unique-firstName"/>
                <p ng-show="registration.firstName.$error.uniqueFirstName">First Name must be unique.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registeration.lastName.$dirty &amp;&amp; registration.lastName.$invalid }">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" ng-model="user.lastName" required="required" unique-username="unique-lastName"/>
                <p ng-show="registration.firstName.$error.uniqueFirstName">First Name must be unique.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registration.email.$dirty &amp;&amp; registration.email.$invalid }">
                <label for="email">Email Address</label>
                <input class="form-control" type="email" name="email" ng-model="user.email" required="required" />
                <div ng-show="registration.email.$error.email">
                    <p>Must be an email address.</p>
                </div>
                <label for="emailPassword">Email Password</label>
                <input class="form-control" type="password" name="emailPassword" ng-model="user.emailPassword" required="required" />
                <div ng-show="registration.emailPassword.$error.emailPassword">
                    <p>Must be an email password.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registration.password.$dirty &amp;&amp; registration.password.$invalid }">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" ng-model="user.password" required="required" />
                <label for="password_confirm">Confirm Password</label>
                <input class="form-control" type="password" name="password_confirm" ng-model="user.password_confirm" registration-password-match="password"
                />
                <button class="btn btn-default" type="submit" ng-disabled="registration.$invalid">Register!</button>
            </div>
        </form>
        <!--<pre>user = {{ user | json }}</pre>
        <pre>registration = {{ registration | json }}</pre>-->
    </div>
</div>