@import '../views/home/home.less';
@import '../views/education/ed.less';
@import '../views/portfolio/portfolio.less';
@import '../views/login/login.less';
@import '../views/contact/contact.less';
@import '../views/blog/blog.less';
@import '../views/navbar/navbar.less';
@import '../views/profile/profile.vc.less';
@import '../views/write/write.less';
@import '../views/error/error.less';
@import '../../node_modules/bootstrap/less/bootstrap.less';
@import '../../node_modules/bootstrap/less/theme.less';

@import '../../node_modules/font-awesome/less/animated.less';
@import '../../node_modules/font-awesome/less/bordered-pulled';
@import '../../node_modules/font-awesome/less/core.less';
@import '../../node_modules/font-awesome/less/fixed-width.less';
@import '../../node_modules/font-awesome/less/font-awesome.less';
@import '../../node_modules/font-awesome/less/icons.less';
@import '../../node_modules/font-awesome/less/larger.less';
@import '../../node_modules/font-awesome/less/list.less';
@import '../../node_modules/font-awesome/less/mixins.less';
@import '../../node_modules/font-awesome/less/path.less';
@import '../../node_modules/font-awesome/less/rotated-flipped.less';
@import '../../node_modules/font-awesome/less/screen-reader.less';
@import '../../node_modules/font-awesome/less/stacked.less';
@import '../../node_modules/font-awesome/less/variables.less';

.app{
    height: 100vh;
    width: 100vw;
    position:absolute;
}
.easterEgg{
    color: #fff;
}

a.pdf{
    color:#333;
    text-decoration: none;
}