<div class="app">
    <navbar></navbar>
    <div class="container">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="../../../images/crabs_on_the_rocks.jpg" alt="Profile image example" />
            <img align="left" class="fb-image-profile img-thumbnail" src="../../../images/myselfie.jpg" alt="Profile image example"/>
            <img align="right" class="fb-image-profile img-circle" src="../../../images/inu-no-taisho-foto.jpg" alt="Profile image example"/>
            <div class="fb-profile-text">
                <h1>{{profile.name}}</h1>
                <p>{{profile.bio}}</p>
            </div>
        </div>
    </div>
</div>