<div class="app">
    <navbar></navbar>
    <div class="mindset">
        <div class="mindsetpos">
            <div class="himgcont">
                <img class="mindsetimg" title="I will protect the people I love." src="images/savingwifeandchild.gif" />
                <p class="htitle" title="I will protect the people I love.">私は愛する人々を守ります。</p>
            </div>
            <div class="himgcont">
                <img class="mindsetimg" title="I am living to protect those I love." src="images/motherfatherandchild.gif" />
                <p class="htitle" title="I am living to protect those I love.">私が愛する人を守るために生きています。</p>
            </div>
        </div>
        <div class="mindsetpos">
            <div><a href="https://youtu.be/ipvBPJUCBfk"><i class="fa fa-star easterEgg" aria-hidden="true"></i></a></div>
            <p class="motto">Reflection of my mindset.</p>
            <div><a href="https://youtu.be/3dV1myAW2Cs"><i class="fa fa-star easterEgg" aria-hidden="true"></i></a></div>
        </div>
        <div class="mindsetpos">
            <div class="himgcont">
                <img class="mindsetimg" title="If I need my life," src="images/defendingmotherandson.gif" />
                <p class="htitle" title="If I need my life,">もし私の生を必要ならば、</p>
            </div>
            <div class="himgcont">
                <img class="mindsetimg" title="I will protect those I love." src="images/inuyashanewborn.gif" />
                <p class="htitle" title="I will protect those I love.">私は愛する人の守ります。</p>
            </div>
        </div>
    </div>
    <div class="mottopos">
        <p class="motto">Hover over images or text for translation.</p>
    </div>
    <div class="mottopos">
        <p class="motto" title="Do you have someone to protect?">君は守るに誰かがあります？</p>
    </div>
    <div class="personalimgpos">
        <img class="personalimg" title="Do you have someone to protect?" src="images/myselfie.jpg" />
    </div>
    <div class="perscont">
        <div class="persinfo">
            <p>My name is Ethan Burrow Fairweather</p>
            <ul>
                <li>Entrepreneur</li>
                <li>Fullstack NodeJS/ExpressJS Web Developer</li>
                <li>Business Analyst</li>
            </ul>
        </div>
    </div>
</div